extend dashboard

block content
    link(rel="stylesheet", href="/stylesheets/patientview.css")

    .row.patient
        each user in users
            if users > 1
                p  No Patient Found
            else
                .col-md-4
                    .card(style='width: 18rem;')
                        img.card-img-top(src='...', alt='...')
                        .card-body
                            h5.card-title #{ user.name }
                            p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                            a.btn.btn-primary(href='#') Go somewhere
