.body{
    background-color: #202020;
    height: 100vh;
}

.body_content{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 45vh;
    width: 25%;
}