doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='/stylesheets/register.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  title Document
body
    .body
    .body_content
        .card.text-center
            .card-header
                h3 Register 
            .card-body
                form(action='/users/register', method='POST')
                    .flex-nowrap.form-group
                        .input-group-prepend
                            span#addon-wrapping.input-group-text
                                i.fa.fa-user
                            input.form-control(type='text', name='fullName', placeholder='Fullname' required)
                            input.form-control(type='hidden', name='dashboard', placeholder='Fullname' value='Patient')
                    .flex-nowrap.form-group
                        .input-group-prepend
                            span#addon-wrapping.input-group-text
                                i.fa.fa-envelope
                            input.form-control(type='text', name='email', placeholder='Email' required)
                    .flex-nowrap.form-group
                        .input-group-prepend
                            span#addon-wrapping.input-group-text
                                i.fa.fa-calendar
                            input.form-control(type='date', name='dob' required)
                    .flex-nowrap.form-group
                        .input-group-prepend
                            span#addon-wrapping.input-group-text
                                i.fa.fa-unlock-alt
                            input.form-control(type='tel', name='tel', placeholder='2348012345678', maxlength="13" , required)
                    .flex-nowrap.form-group
                        .input-group-prepend
                            span#addon-wrapping.input-group-text
                                i.fa.fa-unlock-alt
                            select.form-control(name='gender')
                                            option(selected='') Choose...
                                            option(value='Male') Male
                                            option(value='Female') Female
                                            option(value='Other') Other
                    .flex-nowrap.form-group
                        .input-group-prepend
                            span#addon-wrapping.input-group-text
                                i.fa.fa-unlock-alt
                            textarea.form-control(type='text', name='address', placeholder='Block 234, Ratyahhnod Street' required)
                    .flex-nowrap.form-group
                        .input-group-prepend
                            span#addon-wrapping.input-group-text
                                i.fa.fa-unlock-alt
                            input.form-control(type='file', name='identification', title='upload a Means of Identification' required)
                    .flex-nowrap.form-group
                        .input-group-prepend
                            span#addon-wrapping.input-group-text
                                i.fa.fa-unlock-alt
                            input.form-control(type='password', name='password', placeholder='Password' required)
                    .flex-nowrap.form-group
                        .input-group-prepend
                            span#addon-wrapping.input-group-text
                                i.fa.fa-unlock-alt
                            input.form-control(type='password', placeholder='Confirm Password', name='password2' required)
                    button.btn.btn-primary.form-control Register
            .card-footer.text-muted
                .social
                a(href='/')
                    span Go Home
                br
                a(href='/login')
                    | Already have an Account?
